<!DOCTYPE html>
<html lang="en">
<head>
    <title>Starter Template for Bootstrap</title>
    {% include 'StefQuickCmsBundle::TwitterBootstrapLayouts/base.meta.html.twig' %}
    <link href="{{ asset('css/bootstrap/starter-template.css') }}" rel="stylesheet" media="screen">
</head>

<body>

{% include 'StefQuickCmsBundle:TwitterBootstrapElements:headmenu.html.twig' %}

<div class="container">
    {% include template %}
</div>

{% include 'StefQuickCmsBundle::TwitterBootstrapLayouts/base.js.html.twig' %}
</body>
</html>
